.mycolor {
    background-color: #3659e4;
}

.center {
    text-align: center;
}

.whyship {
    font-size: 30px;
    text-align: center;
}

.mybtn {
    margin-left: 10px;
    margin-right: 10px;
}

.ns-box {
    height: 500px;
    width: 500px;
    border: 1px solid white;
}

.myFormat {
    font-weight: bold;
    font-size: 2.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.myPara {
    font-size: 1vw;
}

th,
td {
    padding: 1.5%;
}

td {
    font-size: 0.8vw;
}

.formFormat {
    margin: 40px;
}

.flex-container {
    display: flex;
}

.background-1 {
    background-color: #f4f6fa;
    padding: 50px;
}

.checked {
    color: orange;
}

.feedback {
    font-size: 25px;
    height: 200px;
    padding: 10px;
}

.star {
    font-size: 50px;
    color: rgb(13, 54, 68);
}

.last {
    font-weight: bold;
    margin: 60px;
}

.boldclass {
    font-weight: bold;
}